<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/evaluacionprofesor">Evaluación </a><i
                                        class="ti ti-angle-right"></i></li>
                                <li class="breadcrumb-item active">Mis evaluaciones</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Mis evaluaciones</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row mb-2">
                <div class="col-sm-4">
                    <a href="/newevaluation" class="btn btn-info btn-rounded"><i class="ti ti-plus"></i> Crear</a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-hover">
                                                <thead style="text-align: center">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Evaluacion</th>
                                                        <th>Descripcion</th>
                                                        <th>Tematica</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each evaluaciones}}
                                                    <tr>
                                                        <td class="info text-center">{{ID}}</td>
                                                        <td class="info text-center">{{NombreEvaluacion}}</td>
                                                        <td class="info text-center">{{Descripcion}}</td>
                                                        <td class="info text-center">{{NombreTematica}}</td>
                                                        <td class="info text-center">
                                                            <a class="btn btn-primary"
                                                                href="/vistaPrevia/{{idEvaluacion}}">Detalle</a>
                                                            <a class="btn btn-danger" href="/deleteEvaluacion/{{idEvaluacion}}">Eliminar</a>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</div>
<!-- container -->