<ol class="breadcrumb">
    <li>
        <a href="/profesores">profesores</a>
    </li>
    <li>
        <a href="/perfilProfesor/{{Id}}">{{Id}}</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Perfil Profesor</h1>
    <a href="/profesores" class="btn-warning btn pull-right">
        < </a>
</div>
<div class="container-fluid">
    <div data-widget-group="group1">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-profile">
                    <div class="panel-body">
                        <i class="fa fa-user" style="font-size:40px;"></i>
                        {{#each data}}
                        <div class="name">{{Nombres}}</div>
                        <div class="info">DOC:{{Identificacion}}</div>
                        <div class="info">Genero: {{Genero}}</div>
                        {{/each}}
                        <br>
                        <a href="/actualizarProfesor/{{Id}}" class="btn btn-success-alt btn-block"><i
                                class="ti ti-pencil"></i>
                            Actualizar</a>

                        <form action="/deleteProfesor" method="POST" style="margin-top: 2px;">
                            <input type="hidden" name="Id" value="{{Id}}">
                            <button type="submit" class="btn btn-danger-alt btn-block">
                                <i class="fa fa-delete">
                                </i>
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Clases</h2>
                        <a id="newPet" href="/registrarCurso/{{Id}}" class="btn btn-info pull-right"
                            style="margin-top:10px;" id="btnNewCur"><i class="ti ti-plus"></i>
                            <span class="hidden-xs">Nueva Clase</span></a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Codigo</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Grado</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {{#each result}}
                                    <tr>
                                        <td class="info text-center">{{ID}}</td>
                                        <td class="info text-center">{{Nombre}}</td>
                                        <td class="info text-center">{{Grado}}</td>
                                        <td class="info text-center">{{Cantidad}}</td>
                                        <td class="info text-center">
                                            <a class="btn btn-success" href="/actualizarCurso/{{ID}}">Actualizar</a>
                                            <a class="btn btn-danger" href="/deleteCurso/{{ID}}">Eliminar</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>