<ol class="breadcrumb">
    <li>
        <a href="/profesores">Profesores</a>
    </li>
    <li>
        <a href="/perfilProfesor/{{Id}}">{{Id}}</a>
    </li>
    <li>
        <a href="/registrarCurso/{{Id}}">Nueva Clase</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nueva clase</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos de la clase</h2>
            <a href="/perfilProfesor/{{Id}}" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="/registrarCurso" method="POST" class="form-horizontal row-border">
            <input type="hidden" name="id" value="{{Id}}">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-xs-8">
                        <input type="text" name="nombreClase" maxlength="50" onkeypress="return soloLetras(event)"
                            onpaste="return false" class="form-control" value="" placeholder="Clase" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Grado</label>
                    <div class="col-sm-3">
                        <select name="nombreG" id="nombreG" class="form-control">
                            <option> SELECCIONE GRADO</option>
                            {{#each data}}
                            <option value="{{Grado}}">{{NombreG}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Cantidad</label>
                    <div class="col-sm-3">
                        <input type="number" name="cantidadC" onkeypress="return soloNumeros(event)"
                            onpaste="return false" maxlength="2" class="form-control" min="25" max="40" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción: </label>
                    <div class="col-sm-3">
                        <textarea type="text" class="form-control" rows="5" name="descripcionC"
                            onkeypress="return soloLetras(event)"
                            style="margin: 0px -447.25px 0px 0px; width: 705px; height: 126px;"></textarea>
                    </div>
                </div>
            </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn-primary btn entity">Registrar</button>
            </div>
        </div>
    </div>
    </form>
</div>
</div>
</div>
</div>