<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/grupoclase">Grupo </a><i
                                        class="ti ti-angle-right"></i></li>
                                <li class="breadcrumb-item active">Mis Grupos</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Mis Grupos</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row mb-2">
                <div class="col-sm-4">
                    <a href="/registergroup" class="btn btn-info btn-rounded" data-toggle="modal"
                        data-target="#bs-example-modal-lg"><i class="ti ti-plus"></i> Crear</a>
                    <div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel">Crear un grupo</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <form action="/registergroup" method="POST" class="form-horizontal row-border">
                                        <input type="hidden" name="id" value="{{Id}}">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="gruponame" id="gruponame"
                                                    placeholder="Nombra tu grupo">
                                            </div>
                                            <div class="form-group">
                                                <select name="idClase" id="idClase" class="form-control">
                                                    <option> SELECCIONE CLASE</option>
                                                    {{#each data}}
                                                    <option value="{{Clase}}">{{NombreC}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            {{!-- <div class="form-group">
                                                <label class="col-sm-2 control-label">Fecha de Inicio</label>
                                                <div class="col-xs-3">
                                                    <input type="date" class="form-control" name="fechaIG" value=""
                                                        required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Fecha de Fin</label>
                                                <div class="col-xs-3">
                                                    <input type="date" class="form-control" name="fechaFG" value=""
                                                        required>
                                                </div>
                                            </div> --}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="sumit" class="btn btn-info">Crear</button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-hover">
                                                <thead style="text-align: center">
                                                    <tr>
                                                        <th scope="col">Codigo</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Clase</th>
                                                        <th scope="col">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each result}}
                                                    <tr>
                                                        <td class="info text-center">{{ID}}</td>
                                                        <td class="info text-center">{{Nombre}}</td>
                                                        <td class="info text-center">{{Grado}}</td>
                                                        <td class="info text-center">
                                                            <a class="btn btn-success" href="/detalleclase">Detalle</a>

                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</div>
<!-- container -->