<ol class="breadcrumb">
    <li><a href="/usuarios">Usuarios</a></li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Usuarios del Colegio</h1>
</div>
<div class="container-fluid">
    <div data-widget-group="group1">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Listado de Usuarios</h2>
                        <a href="/nuevousuario" class="btn btn-info pull-right" style="margin-top:10px;"><i
                                class="ti ti-plus"></i> <span class="hidden-xs">Nuevo Usuario</span></a>
                    </div>
                    <div class="panel-body">
                        <table class="table table table-striped">
                            <thead>
                                <tr>
                                    <th>Cedula</th>
                                    <th>Nombre</th>
                                    <th>Rol</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            {{!-- <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{ID}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>{{Profesion}}</td>
                                    <td>{{Rol}}</td>
                                    <td>{{UserName}}</td>
                                </tr>
                                {{/each}}
                            </tbody> --}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>