<ol class="breadcrumb">
    <li>
        <a href="/tematicas">Tematicas</a>
    </li>
    <li>
        <a href="/perfiltematica/{{Id}}">{{Id}}</a>
    </li>
    <li>
        <a href="/registrarcontenido/{{Id}}">Nuevo Contenido</a>
    </li>
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg pull-right">
        <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-shift-left"></i>
            </span>
        </a>
    </span>
</ol>
<div class="page-heading">
    <h1>Nuevo Contenido</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Datos del Contenido</h2>
            <a href="/perfiltematica/{{Id}}" class="btn-warning btn pull-right">
                <</a>
        </div>
        <form action="/registrarcontenido" method="POST" class="form-horizontal row-border">
            <input type="hidden" name="id" value="{{Id}}">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-3">
                        <input type="text" name="NombreC" class="form-control" onkeypress="return soloLetras(event)"
                            onpaste="return false" placeholder="" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción: </label>
                    <div class="col-sm-3">
                        <textarea type="text" class="form-control" rows="5" name="DescripcionC"
                            onkeypress="return soloLetras(event)"
                            style="margin: 0px -447.25px 0px 0px; width: 705px; height: 126px;"></textarea>
                    </div>
                </div>
            </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn-primary btn entity">Registrar</button>
            </div>
        </div>
    </div>
    </form>
</div>
</div>
</div>
</div>