<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">

                        <h4 class="page-title">Perfil</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="images/Home/Login WebPlants.png" class="rounded-circle avatar-lg img-thumbnail"
                                alt="profile-image">
                            <h4 class="mb-0 mt-2">{{user.Username}}</h4>
                            <p id="rol1" class="text-muted font-14">Administrador</p>
                            <script type="text/javascript">
                                if ({{ user.Rol_idRol }} == "1") {
                                    document.getElementById('rol1').innerHTML = "Profesor"
                                } else {
                                    document.getElementById('rol1').innerHTML = "Estudiante"
                                }
                            </script>
                            <div class="text-left mt-3">
                                <p class="text-muted mb-2 font-13"><strong>Nombre completo :</strong> <span
                                        class="ml-2">{{data.Nombres}}</span></p>

                                <p class="text-muted mb-2 font-13"><strong>Telefono :</strong><span
                                        class="ml-2">{{data.Telefono}}</span></p>

                                <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span
                                        class="ml-2 ">{{data.Email}}</span></p>

                                <p class="text-muted mb-1 font-13"><strong>Genero :</strong> <span
                                        class="ml-2">{{data.Genero}}</span>
                                </p>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->

                </div> <!-- end col-->

                <div class="col-xl-8 col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                <li class="nav-item">
                                    <a href="#user" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                        Usuario
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#config" data-toggle="tab" aria-expanded="true"
                                        class="nav-link rounded-0 active">
                                        Configuración
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="user">
                            <form action="/UpdateUserProfesorAdmin" method="POST">
                                <h5 class="text-uppercase" style="margin-bottom: 36px;">
                                    <i class="fas fa-user-circle"></i>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Información usuario</font>
                                    </font>
                                </h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="username">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Usuario</font>
                                                </font>
                                            </label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                value="{{user.Username}}" placeholder="Ingrese el usuario">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="userpassword">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Nueva Contraseña</font>
                                                </font>
                                            </label>
                                            <input type="password" class="form-control" id="userpassword"
                                                name="password" value="" placeholder="Introducir la nueva contraseña">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="userpassword1">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Confirmar Contraseña</font>
                                                </font>
                                            </label>
                                            <input type="password" class="form-control" id="userpassword1"
                                                name="password1" value="" placeholder="Confirmar contraseña" required>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="text-right">
                                    <button type="submit" class="btn btn-success mt-2" id="confirmar">
                                        <i class="fas fa-save"></i>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Guardar</font>
                                        </font>
                                    </button>
                                </div>
                            </form>
                        </div><!-- end tab-pane -->
                                <!-- end about me section content -->
                                <div class="tab-pane show active" id="config">
                                    <form action="/UpdateProfesorAdmin" method="POST">
                                        <h5 class="mb-4 text-uppercase">
                                            <i class="fas fa-user-edit"></i>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> Información personal</font>
                                            </font>
                                        </h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="document">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Documento</font>
                                                        </font>
                                                    </label>
                                                    <input type="number" name="document" class="form-control"
                                                        maxlength="10" onpaste="return false"
                                                        placeholder="Sin puntos ni guiones" min="1"
                                                        value="{{data.Identificacion}}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="tipodocument">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Tipo documento</font>
                                                        </font>
                                                    </label>
                                                    <select name="tipodocument" class="form-control" required>
                                                        {{!-- <option value="">SELECCIONE DOCUMENTO</option> --}}
                                                        <option value="{{data.idTipoDocumento}}">{{data.Tipo}}</option>
                                                    </select>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Nombre</font>
                                                        </font>
                                                    </label>
                                                    <input type="text" name="firstname" maxlength="70"
                                                        onkeypress="return soloLetras(event)" onpaste="return false"
                                                        class="form-control" value="{{data.Nombre}}"
                                                        placeholder="Ingrese el nombre" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Apellido</font>
                                                        </font>
                                                    </label>
                                                    <input type="text" name="lastname" maxlength="70"
                                                        onkeypress="return soloLetras(event)" onpaste="return false"
                                                        class="form-control" value="{{data.Apellidos}}"
                                                        placeholder="Ingrese el apellido" required>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phone">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Telefono</font>
                                                        </font>
                                                    </label>
                                                    <input type="phone" name="phone"
                                                        onkeypress="return soloNumeros(event)" onpaste="return false"
                                                        class="form-control" maxlength="10" placeholder="Solo números"
                                                        value="{{data.Telefono}}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="direccion">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Dirección</font>
                                                        </font>
                                                    </label>
                                                    <input type="text" name="direccion" class="form-control"
                                                        maxlength="100" value="{{data.Direccion}}" required>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="genero">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Genero</font>
                                                        </font>
                                                    </label>
                                                    <select name="genero" class="form-control" required>
                                                        {{!-- <option value="">SELECCIONE GENERO </option> --}}
                                                        <option value="{{data.idGenero}}">{{data.Genero}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fnacimiento">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Fecha nacimiento
                                                            </font>
                                                        </font>
                                                    </label>
                                                    <input type="date" class="form-control" name="fnacimiento"
                                                        value="{{data.FechaNacimiento}}" required>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->

                                        <div class="text-right">
                                            <button type="submit" class="btn btn-success mt-2">
                                                <i class="fas fa-save"></i>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"> Salvar</font>
                                                </font>
                                            </button>
                                        </div>
                                    </form>

                                </div>
                                <!-- end timeline content-->
                            </div> <!-- end tab-content -->
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div>
            <!-- end row-->

        </div>
    </div>
</div>
<!-- container -->