<div class="page-content">
    <form id="form" style="font:normal 16px sans-serif" method="POST" action="/nota/{{user.idUsuario}}/">
        {{user.idUsuario}}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Pregunta</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{idPregunta}}</td>
                <td>{{pregunta}}</td>
            </tr>
            <tr id="verdadero-falso{{idPregunta}}"></tr>
            <script type="text/javascript">
            var final = 5;
                if ({{ TipoPregunta_idTipoPregunta }} == '1') {
                    document.getElementById("verdadero-falso" + {{ idPregunta }}).innerHTML =
                        '<td>' +
                        '<p><input type="radio" name="pregunta{{idPregunta}}" id="v{{idPregunta}}" >Verdadero</p>' +
                        '</td>' +
                        '<p><input type="radio" name="pregunta{{idPregunta}}" id="f{{idPregunta}}">Falso</p>' 
                        
                }
            </script>
            {{/each}}
        </tbody>
    </table>
    <button id="finalizar" type="submit">Finalizar</button>
    <!--p><input id="finalizar" type="button" value="resultado"></p-->
    </form-->
    
</div>
<script type="text/javascript" src="javascript/Dashboard/respuestas.js"></script>
<!--
'<div id="response-question-true-false" + {{idPregunta}}><div class="choice-container"><div class="">'+
'<div class="qa-test-multichoice-response multichoice-response"><p><font style="vertical-align: inherit;">Verdadero</font>'+
'</p><input type="radio" style="margin-left: 450px;" class="custom-control-input" name="question-Radios">'+
'</div></div></div><div class="choice-container"></div><div class="">'+
'<div class="qa-test-multichoice-response multichoice-response"><p><font style="vertical-align: inherit;">Falso</font>'+
'</p><input type="radio" style="margin-left: 450px;" class="custom-control-input" name="question-Radios">+
'</div></div></div></div>'
-->