<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/contenidoprofesor">Contenido </a><i
                                        class="ti ti-angle-right"></i></li>
                                <li class="breadcrumb-item active">Mis Contenidos</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Mis Contenidos</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row mb-2">
                <div class="col-sm-4">
                    <a href="/contenidoprofesor" class="btn btn-info btn-rounded" data-toggle="modal"
                        data-target="#bs-example-modal-lg"><i class="ti ti-plus"></i> Crear</a>
                    <div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel">Crear un Contenido</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <form action="/contenidoprofesor" method="POST" class="form-horizontal row-border">
                                        <input type="hidden" name="id" value="{{Id}}">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="contenidoname" id="contenido-name"
                                                    placeholder="Nombra del contenido">
                                            </div>
                                            <div class="form-group">
                                                <select name="clase" class="form-control" required>
                                                    <option value="">SELECCIONE NOMBRE</option>
                                                    {{#each result}}
                                                    <option value="{{Clase}}">{{NombreClase}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-info">Crear</button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-hover">
                                                <thead style="text-align: center">
                                                    <tr>
                                                        <th scope="col">Codigo</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Clase</th>
                                                        <th scope="col">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each data}}
                                                    <tr>
                                                        <td class="info text-center">{{ID}}</td>
                                                        <td class="info text-center">{{Nombre}}</td>
                                                        <td class="info text-center">{{Clase}}</td>
                                                        <td class="info text-center">
                                                            <a class="btn btn-success" href="/detalleclase">Detalle</a>

                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</div>
<!-- container -->